{% extends "base.html" %}


{% block head%}
    <head>
        <script  src="https://d3js.org/d3.v5.js"></script>
    </head>
{%endblock head%}
{% block body%}
    <body>
    <h1>{{ title.title_text }}</h1>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <div id="someDiv"
             style="width:200px;
                    height:100px;
                    border:black 1px solid;"
        >
            <input id="SomeCheckbox"
                   type="checkbox"
            />
        </div>
    </body>
{%endblock body%}

{% comment %}

------------STYLE--------
d3.select("#someDiv").style("border", "5px darkgray dashed");
d3.select("#someDiv").style("width", "500px");

------------ATTRIBUTE--------
d3.select("#someDiv").attr("id","newID");

------------PROPERTY--------
d3.select("#someCheckbox").property("checked",true);


{% endcomment %}
